%link{:href => "/path/to/leaflet.css", :rel => "stylesheet"}/
%script{:src => "/path/to/leaflet.js"}
    
#biography.page.home
  .pageheader
    .headercontent
      .section-container
        - if @profile
          .row
            .col-sm-2.visible-sm
            .col-sm-8.col-md-5
              .biothumb
                = image_tag @profile.image.url, class: 'img-responsive'
                .overlay
                  %ul.list-unstyled
                    %li= @profile.full_name
                    %li= @profile.company

            .clearfix.visible-sm.visible-xs
            .col-sm-12.col-md-7
              %h3.title Bio
              %p= @profile.bio
        / Button or a Link named "Send Message"
        / Clicking the "Send Message" button will show the form
        / This is done with jquery .click event show and hide
        / Form that will have textarea and a send button (Make sure its hidden use the class .hide)
        / submitting the form will save a message to the Database that will be between you and (your friend @user)
        / then redirect to this page with the message displayed

    #nav-container
      #profile.clearfix
        .circular
          - @user.friends.each do |friend|
            = link_to profile_path(friend.profile) do
              = image_tag friend.profile.image_url, size: "125x125"