= form_for @profile, multiple: true do |f|
  %p
    = f.label :first_name
    = f.text_field :first_name
  %p
    = f.label :last_name
    = f.text_field :last_name 
    %br/
  %p
    = f.label :company
    = f.text_field :company 
    %br/
  %p
    = f.label :bio
    = f.text_area :bio
    %br/
    = f.label :image                           
  = f.file_field :image
  %br/
  = f.submit
